# dados a serem coletados

name_columns = ['razao_social', 'nome_fantasia', 'cnpj', 'porte_nominal', 'setor', 'atividade_primaria','localizacao', 'endereco', 'cep', 'quantidade_funcionarios', 'socios_administradores']

coletar regiões de norte e nordeste

url_primary = 'https://www.econodata.com.br/lista-empresas'

endpoint_state = ['SERGIPE']

próximo passo:
    percorrer a lista de empresas -> acessar uma a uma -> coletar os dados

In [1]:
import pandas as pd
import numpy as np

import requests
import json
import time

from bs4 import BeautifulSoup as bsp
from selenium import webdriver
from selenium.webdriver.firefox.options import Options

# FUNÇÕES

Essas funções não foram criadas de primeira, antes passei por um processo e decidi que fazer essas funções deixaria o código um pouco mais organizado dentro deste notebook.
Apenas leia a função e logo após aplicaremos a necessidade dela no código.

In [2]:
# função dedicada a dados de contato
def add_list(var, lista):
    soup = bsp(var.text, 'html.parser')
    soup = soup.get_text()
    lista.append(soup)
    return lista

In [3]:
# FUNÇÃO QUE BUSCA OS ELEMENTOS E ADICIONA OS DADOS AO DATAFRAME
def busca_adiciona_elementos():
    lista = []
    contador = 1
    # percorrer "DADOS DE CONTATO"
    while contador <= 8:
        dados_de_contato = driver.find_element_by_xpath(f'//*[@id="companyDetailsForm"]/section/div/div/div[1]/div[4]/div/div[2]/table/tbody/tr[{contador}]/td[2]')
        add_list(dados_de_contato, lista)
        contador += 1

    contador = 1
    # percorrer "PORTE ESTIMADO"
    while contador <= 3:
        dados_porte_estimado = driver.find_element_by_xpath(f'//*[@id="companyDetailsForm"]/section/div/div/div[1]/div[5]/div/div[2]/table/tbody/tr[{contador}]/td[2]')
        add_list(dados_porte_estimado, lista)
        contador += 2
        
    # percorrer "SOCIEDADE"
    dados_sociedade = driver.find_element_by_xpath('//*[@id="companyDetailsForm"]/section/div/div/div[1]/div[6]/div/div[2]/div/div[2]/p[1]')
    soup = bsp(dados_sociedade.text, 'html.parser')
    soup = soup.get_text()
    lista.append(soup)
    
    df.loc[len(df)+1] = lista
    
    return lista

## CRIANDO DATASET BASE

In [10]:
# dicionário para criar a tabela
name_columns = dict()
name_columns['nome_fantasia'] = ''
name_columns['setor'] = ''
name_columns['cnpj'] = ''
name_columns['atividade_primaria'] = ''
name_columns['fundacao'] = ''
name_columns['localizacao'] = ''
name_columns['endereco'] = ''
name_columns['cep'] = ''
name_columns['porte_medio'] = ''
name_columns['qnt_funcionarios'] = ''
name_columns['socios_administradores'] = ''

In [11]:
# CRIANDO O DATASET

# criando o dataset
df = pd.DataFrame(name_columns.items())
df = df.transpose() # transforma as linhas em colunas

# após criar o dataset
df.columns = df.iloc[0] # renomeia as colunas
df = df.drop(df.index[0]) # remove o primeiro índice a primeira linha
df

,nome_fantasia,setor,cnpj,atividade_primaria,fundacao,localizacao,endereco,cep,porte_medio,qnt_funcionarios,socios_administradores
1,,,,,,,,,,,

# - PRIMEIRA SOLUÇÃO

<strong> O código a seguir, teóricamente era pra funcionar, mas acabou quebrando e percebi que em determinado momento, encontrava sublinks e isso fazia o código quebrar</strong>

In [12]:
# ESTADO = 'SERGIPE'
# url = f"https://www.econodata.com.br/lista-empresas/{ESTADO}"

# option = Options()
# option.headless = True # opção para não abrir o navegador externo
# driver = webdriver.Firefox() # para ativar o headless passar options=option
# driver.get(url)

# time.sleep(2)
# teste = driver.find_element_by_xpath('//*[@id="j_idt10:j_idt11"]/div[1]/table')
# soup = bsp(teste.text, 'html.parser')

# try:
#     contador = 1
#     while contador <= 10:

#         time.sleep(2)
#         driver.find_element_by_xpath(f'//*[@id="j_idt10:j_idt11_data"]/tr[{contador}]/td[1]/a/span[1]').click()

#         time.sleep(1)
#         busca_adiciona_elementos() # função busca elementos e adiciona itens no dataframe

#         driver.get(url)
#         time.sleep(2)
#         contador += 1
        
# except:
#     print('código finalizado: Error')
    
# driver.quit()
# df

# SEGUNDA SOLUÇÃO

<strong> Abaixo apresento a solução que pensei para resolver o problema e trazer os dados que precisava.</strong>

In [13]:
# Preencher com hífen os nomes dos estado que tiver espaço (RIO-DE-JANEIRO)
listaDeEstado = ['SERGIPE', 'RIO-DE-JANEIRO', 'SAO-PAULO']
url = f"https://www.econodata.com.br/lista-empresas/{listaDeEstado[0]}"

In [14]:
# Decidi recorrer a biblioteca requests para encontrar alguma solução possível, deu super certo :)
r = requests.get(url, auth=('user', 'pass'))
html = r.text

soup = bsp(html, 'html.parser')
html = soup.table.find_all('a')

In [15]:
option = Options()
option.headless = True
driver = webdriver.Firefox(options=option) # se desejar ver o navegador abrir e fechar, retire "options=option"

print(f'Quantidade de itens : {len(html)}')
contador = 0
while contador < len(html):
    print(f"Contador : {contador}")
    try:
        response = html[contador].get('href')
        site = 'https://www.econodata.com.br' + response

        driver.get(site)

        busca_adiciona_elementos() # função para buscar elementos e adiciona ao dataframe

        contador += 1
        driver.quit()
    except:
        contador += 1
        driver.quit()
        driver = webdriver.Firefox(options=option)

driver.quit()

Quantidade de itens : 27
Contador : 0
Contador : 1
Contador : 2
Contador : 3
Contador : 4
Contador : 5
Contador : 6
Contador : 7
Contador : 8
Contador : 9
Contador : 10
Contador : 11
Contador : 12
Contador : 13
Contador : 14
Contador : 15
Contador : 16
Contador : 17
Contador : 18
Contador : 19
Contador : 20
Contador : 21
Contador : 22
Contador : 23
Contador : 24
Contador : 25
Contador : 26

## Tratando dataset

In [21]:
df.head()

,nome_fantasia,setor,cnpj,atividade_primaria,fundacao,localizacao,endereco,cep,porte_medio,qnt_funcionarios,socios_administradores
1,,,,,,,,,,,
2,COHIDRO SE,AGROPECUÁRIA E PESCA,15.613.813/0001-24,ATIVIDADES DE APOIO À AGRICULTURA NÃO ESPECIFI...,09/06/1983,ARACAJU - SE,"RUA MARIN ANTONIO BRANDAO , 103,",49.082-320,MEDIO,301 a 500,DIOGO MENEZES MACHADO
3,CLINRADI,SAÚDE E ASSITÊNCIA SOCIAL,16.894.622/0001-40,SERVIÇOS DE RADIOTERAPIA,09/08/2012,ARACAJU - SE,"AVENIDA ANTONIO CARLOS LEITE FRANCO , 500,",49.026-240,MEDIO,301 a 500,AECIO COSTA CAVALCANTI
4,CLIMEDI,SAÚDE E ASSITÊNCIA SOCIAL,13.158.985/0001-20,ATIVIDADE MÉDICA AMBULATORIAL RESTRITA A CONSU...,05/10/1977,ARACAJU - SE,"AVENIDA BARAO DE MAROIM , 570,",49.015-040,MEDIO,101 a 150,GUSTAVO DE MELO MACEDO SANTANA
5,TRANSERTAO,LOGÍSTICA E TRANSPORTES,18.747.090/0001-44,"TRANSPORTE RODOVIÁRIO COLETIVO DE PASSAGEIROS,...",23/08/2013,POCO REDONDO - SE,"AVENIDA JOAO MARIA DE CARVALHO , 357, : SALAO;",49.810-000,PEQUENO,21 a 50,ANDREIA DOS SANTOS LIMA

In [23]:
#salvando o dataset para não repetir o código sempre
# df.to_csv('testeEmpresasSergipe.csv', encoding='utf-8', index=False)

# Com o dataset em mãos

>Agora que tenho um dataset, quero entregar um mapa com as empresas e suas localidades.

In [24]:
df2 = pd.read_csv('testeEmpresasSergipe.csv')

In [25]:
df2.head(2)

,nome_fantasia,setor,cnpj,atividade_primaria,fundacao,localizacao,endereco,cep,porte_medio,qnt_funcionarios,socios_administradores
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,COHIDRO SE,AGROPECUÁRIA E PESCA,15.613.813/0001-24,ATIVIDADES DE APOIO À AGRICULTURA NÃO ESPECIFI...,09/06/1983,ARACAJU - SE,"RUA MARIN ANTONIO BRANDAO , 103,",49.082-320,MEDIO,301 a 500,DIOGO MENEZES MACHADO

Etapas que analisei que provavelmente vou precisar realizar:
>1. Remover índice 0 e excluir coluna cnpj e nomes dos administradores
>2. Remover os caracteres especiais dos cep
>3. Criar uma coluna max_funcionarios (vai ser útil no final)
>4. Obter latitude e longitude para plotar mapas

### Etapa 1

In [26]:
# removendo o primeiro índice e colunas
df2 = df2.drop(['cnpj', 'socios_administradores'], axis=1).drop(df2.index[0])

In [28]:
df2.head()

,nome_fantasia,setor,atividade_primaria,fundacao,localizacao,endereco,cep,porte_medio,qnt_funcionarios
1,COHIDRO SE,AGROPECUÁRIA E PESCA,ATIVIDADES DE APOIO À AGRICULTURA NÃO ESPECIFI...,09/06/1983,ARACAJU - SE,"RUA MARIN ANTONIO BRANDAO , 103,",49.082-320,MEDIO,301 a 500
2,CLINRADI,SAÚDE E ASSITÊNCIA SOCIAL,SERVIÇOS DE RADIOTERAPIA,09/08/2012,ARACAJU - SE,"AVENIDA ANTONIO CARLOS LEITE FRANCO , 500,",49.026-240,MEDIO,301 a 500
3,CLIMEDI,SAÚDE E ASSITÊNCIA SOCIAL,ATIVIDADE MÉDICA AMBULATORIAL RESTRITA A CONSU...,05/10/1977,ARACAJU - SE,"AVENIDA BARAO DE MAROIM , 570,",49.015-040,MEDIO,101 a 150
4,TRANSERTAO,LOGÍSTICA E TRANSPORTES,"TRANSPORTE RODOVIÁRIO COLETIVO DE PASSAGEIROS,...",23/08/2013,POCO REDONDO - SE,"AVENIDA JOAO MARIA DE CARVALHO , 357, : SALAO;",49.810-000,PEQUENO,21 a 50
5,ZPE-SERGIPE,CONSULTORIA EMPRESARIAL,ATIVIDADES DE CONSULTORIA EM GESTÃO EMPRESARIA...,18/03/2011,BARRA DOS COQUEIROS - SE,"RODOVIA CESAR FRANCO - SE 100 , S/N,",49.140-000,PEQUENO,11 a 20

### Etapa 2

In [29]:
# O método que pensei para tratar dos dados de cep, encontrasse abaixo :
for i, v in enumerate(df2['cep'], start=1):
    df2['cep'][i] = v.replace('.','').replace('-','')
df2['cep']

1     49082320
2     49026240
3     49015040
4     49810000
5     49140000
6     49032190
7     49035660
8     49010450
9     49800000
10    49001195
11    49200000
Name: cep, dtype: object

### Etapa 3

In [30]:
df2['max_funcionarios'] = ''
for number, dados in enumerate(df2['max_funcionarios'], start=1):
    qnt_max_funcionarios = df2['qnt_funcionarios'][number].split()
    qnt_max_funcionarios = int(qnt_max_funcionarios[2])
    
    df2['max_funcionarios'].loc[number] = qnt_max_funcionarios

In [31]:
df2['max_funcionarios']

1     500
2     500
3     150
4      50
5      20
6      10
7      10
8      20
9      20
10     10
11     10
Name: max_funcionarios, dtype: object

## Buscando dados de latitude e longitude

> Encontrei uma API gratuita que fornece os dados de latitude e longitude utilizando como chave o cep,
mas antes de poder utilizar a coluna cep do dataset, será necessário melhorar a informação, no caso remover o ponto (.)

In [32]:
# visualizando dataset novamente, já notamos a alteração :)
df2.head()

,nome_fantasia,setor,atividade_primaria,fundacao,localizacao,endereco,cep,porte_medio,qnt_funcionarios,max_funcionarios
1,COHIDRO SE,AGROPECUÁRIA E PESCA,ATIVIDADES DE APOIO À AGRICULTURA NÃO ESPECIFI...,09/06/1983,ARACAJU - SE,"RUA MARIN ANTONIO BRANDAO , 103,",49082320,MEDIO,301 a 500,500
2,CLINRADI,SAÚDE E ASSITÊNCIA SOCIAL,SERVIÇOS DE RADIOTERAPIA,09/08/2012,ARACAJU - SE,"AVENIDA ANTONIO CARLOS LEITE FRANCO , 500,",49026240,MEDIO,301 a 500,500
3,CLIMEDI,SAÚDE E ASSITÊNCIA SOCIAL,ATIVIDADE MÉDICA AMBULATORIAL RESTRITA A CONSU...,05/10/1977,ARACAJU - SE,"AVENIDA BARAO DE MAROIM , 570,",49015040,MEDIO,101 a 150,150
4,TRANSERTAO,LOGÍSTICA E TRANSPORTES,"TRANSPORTE RODOVIÁRIO COLETIVO DE PASSAGEIROS,...",23/08/2013,POCO REDONDO - SE,"AVENIDA JOAO MARIA DE CARVALHO , 357, : SALAO;",49810000,PEQUENO,21 a 50,50
5,ZPE-SERGIPE,CONSULTORIA EMPRESARIAL,ATIVIDADES DE CONSULTORIA EM GESTÃO EMPRESARIA...,18/03/2011,BARRA DOS COQUEIROS - SE,"RODOVIA CESAR FRANCO - SE 100 , S/N,",49140000,PEQUENO,11 a 20,20

## próximos passos :
> 1. acessar a API, visualizar a entrega dos dados
> 2. criar uma coluna lat de (latitudade) e outra long de (longitude)

In [33]:
contador = 1

df2['lat'] = ''
df2['long'] = ''

while contador <= len(df2['cep']):
    
    url = f"https://www.cepaberto.com/api/v3/cep?cep={df2['cep'][contador]}"
    
    # acessar token pelo site!
    headers = {'Authorization': 'Token token=56acb202c9e3fcd10787ecc70ca08a25'}

    response = requests.get(url, headers=headers)

    r = response.json()
    
    df2['lat'] = r['latitude']
    df2['long']= r['longitude']
    
    contador += 1
    time.sleep(1)

In [34]:
df2.head(2)

,nome_fantasia,setor,atividade_primaria,fundacao,localizacao,endereco,cep,porte_medio,qnt_funcionarios,max_funcionarios,lat,long
1,COHIDRO SE,AGROPECUÁRIA E PESCA,ATIVIDADES DE APOIO À AGRICULTURA NÃO ESPECIFI...,09/06/1983,ARACAJU - SE,"RUA MARIN ANTONIO BRANDAO , 103,",49082320,MEDIO,301 a 500,500,-11.2686587,-37.438503
2,CLINRADI,SAÚDE E ASSITÊNCIA SOCIAL,SERVIÇOS DE RADIOTERAPIA,09/08/2012,ARACAJU - SE,"AVENIDA ANTONIO CARLOS LEITE FRANCO , 500,",49026240,MEDIO,301 a 500,500,-11.2686587,-37.438503